@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

  h1 {
    @apply text-2xl text-center uppercase leading-snug font-bold
  }

  h2 {
    @apply text-xl text-center font-bold 
  }

  button, a.as-button {
    @apply text-white font-bold py-2 px-4 rounded border-gray-300
  }

  .primary-button {
    @apply bg-sky-600 hover:bg-sky-800
  }

  .danger-button {
    @apply bg-red-600 hover:bg-red-800
  }

  .nav-link {
    @apply inline-block bg-white font-bold p-2 rounded-t-md border-x border-t border-gray-300;
    position: relative;
    bottom: -1px;
  }
}

.done-todo {
  @apply line-through decoration-blue-700;
}

@keyframes cursor-blink {
  from, to {
    background-color: transparent;
  }
  50% {
    background-color: black;
  }
}

.cursor-blink::after {
  content: '';
  width: 2px;
  height: 16px;
  background: black;
  margin: 0 0.125rem;
  display: inline-block;
  animation: cursor-blink 1s step-end infinite;
}